*{
    padding: 0;
    margin:0;
    
}
body{

background-color:lightseagreen;
    /* transition-property:all; */
    /* transition-duration:100s; */
animation-name:colorAnimate;
    animation-duration:2s;
    animation-timing:infinite;
    animation-delay:1s;
    animation-iteration-count:infinite;
}

@keyframes colorAnimate
{
    from{ background-color: lightskyblue;}
    to{background-color:hsl(321, 83%, 71%);}
   
}


h1
{
    font-size:75px;
text-align: center;
background-color:#1af174;

/* height :200px; */

border-style:solid;
border-radius: 100px;
padding-top:50px;
width:100%;
    height:100px;
}

@media (min-width: 320px) and (max-width: 480px)
{
    h1{
        font-size:35px;
        text-align: center;
        display: flex;
     /* height :100px; */
        
        /* border-style:solid; */
        /* border-radius: 100px; */
        padding-top:5px;
        width:1500px;
            height:100%;
    }
}


 #main  
{
    background-color: #00ff22;
    margin:700px;
    padding-top:20px;
    height:1000px;
    width:1000px;
    
} 



#pic{
    margin:1000px;
    /* background-color:blue; */
    /* text-align:center; */
    height :750px;
    width:750px;
    margin-bottom:5px;
    margin-left: 1800px;
    margin-top:200px;
    border-color: rgb(0, 255, 26);
    border-left:blue ;
    border-right: red;
    border-width:50px;
    border-style:solid;
    border-radius: 50%;
animation-name:spinAnimate;
    animation-duration:5s;
    animation-timing:ease-out;
    /* animation-delay:0s; */
    animation-iteration-count:infinite;
    
}

@media (min-width: 320px) and (max-width: 480px)
{
    #pic{
        margin:100px;
    /* background-color:blue; */
    /* text-align:center; */
    height :250px;
    width:250px;
    margin-bottom:5px;
    margin-left: 500px;
    margin-top:300px;
    border-color: rgb(0, 255, 26);
    border-left:blue ;
    border-right: red;
    border-width:20px;
    border-style:solid;
    border-radius: 50%;
animation-name:spinAnimate;
    animation-duration:5s;
    animation-timing:ease-out;
    /* animation-delay:0s; */
    animation-iteration-count:infinite;
    }
}

@keyframes spinAnimate
    {
        from{
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);

        }

    }



 #upic{ 
    background-image:url("IMG_20230604_201110[1].jpg");
    background-size:cover;
    height :750px;
    width:750px;
    border-radius: 50%;
    /* position :absolute; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* top:50%; */
    /* left:50%; */
    /* transform :translate(-50%,-50%) */
    /* rotate(0deg); */
    /* image-orientation: from-image; */
    
}
@media (min-width: 320px) and (max-width: 480px)
{
    #upic{
        background-size:cover;
        height :250px;
        width:250px;
        border-radius: 50%;


    }
}

    

#details{
text-decoration: underline;
text-transform:capitalize;
margin-left:1500px;
    margin-top:0px;
    padding-top:0px;
height:500px;
width:1500px;
    background-color:rgb(51, 208, 240);
    text-align:center;
    font-size:50px; 
    border-radius:200px;

}

@media (min-width: 320px) and (max-width: 480px)
{
    #details{
        margin-left:200px;
    margin-top:0px;
    padding-top:0px;
height:400px;
width:1000px;
    background-color:rgb(51, 208, 240);
    text-align:center;
    font-size:35px; 
    border-radius:200px;
    }
}
/* body{
    background-color:rgb(23, 183, 246);
    

} */

#lin{
    background-color: rgb(51, 51, 246);
    padding-left: 40%;
    
    margin:20px;
    /* margin-left: 1800px; */
    margin-top: 50px;
}
@media (min-width: 320px) and (max-width: 480px)
  {  #lin{

    padding-left: 100px;
     margin:0px;
    /* margin-left: 1800px; */
    margin-top: 300px;
 }
 }

#bot{
    background-color: #00ff22;
    padding-left: 40%;
    
    
    margin:20px;
    /* margin-left: 1800px; */
    margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 480px)
  {  #bot{

    padding-left: 400px;
     margin:0px;
    /* margin-left: 1800px; */
    margin-top: 50px;
 }
 }

#auto{
    background-color:red;
    margin:20px;
    /* margin-left: 1800px; */
    margin-top: 50px;
    padding-left: 40%;
}



@media (min-width: 320px) and (max-width: 480px)
  {  #auto{

    padding-left:600px;
     margin:0px;
    /* margin-left: 1800px; */
    margin-top: 50px;
 }
 }

button{
    text-align:center;
    height:100px;
    width: 800px;
    font-size:50px;
    border-radius: 50px;
}
@media (min-width: 320px) and (max-width: 480px)
    {
       button {
            height:75px;
      width: 500px;
       font-size:35px;
       border-radius: 50px;
        }
    }


/* *********************************************************************8 */
/* this is a index1.html css file  start === */


#emp-d
{
   
   margin-top:200px;
   padding-left:1500px;
font-size:  80px;
/* text: size adjust 50px; */
padding-top:100px;


}
@media (min-width: 320px) and (max-width: 480px)
    {
        #emp-d{

            margin-top:20px;
   padding-left:300px;
font-size:  35px;
width: 1000px;
/* text: size adjust 50px; */
padding-top:100px;
flex-wrap: wrap;
/* margin-bottom: 200px; */
/* text-align: center; */
    /* justify-content: space-between; */
  }
    }


#emp-r
{padding-left:1500px;
    font-size: 80px;
    height: 20px;
    width: 2800px;
    display :inline-block;
    padding-top:100px;

}
@media (min-width: 320px) and (max-width: 480px)
    {
        #emp-r{
            height: 20px;
    width: 1000px;

            margin-top:20px;
   padding-left:300px;
font-size:  35px;
/* text: size adjust 50px; */
padding-top:100px;


        }
    }

#emp-be{
   
    height: 250px;
    padding-left:1500px;
        font-size:  80px;
        /* width: 1000px; */
        padding-top:100px;
    
}
@media (min-width: 320px) and (max-width: 480px)
    {
        #emp-be{

            margin-top:20px;
   padding-left:300px;
font-size:  35px;
width:1000px;

/* text: size adjust 50px; */
padding-top:100px;


        }
    }

#emp-me
{
    padding-left:1500px;
    font-size:  80px;
    height: 250px;
    text-align: left;
width:1000px;
padding-top:100px;
text-transform: uppercase;

}
@media (min-width: 320px) and (max-width: 480px)
    {
        #emp-me{

            margin-top:20px;
   padding-left:300px;
font-size:  35px;
/* text: size adjust 50px; */
padding-top:100px;
width:1000px;
text-transform: uppercase;



        }
    }

select{
height: 100px;
width: 1000px;
font-size: 50px;
}

@media (min-width: 320px) and (max-width: 480px)
    { select
        {
            height:50px;
      width:500px;
      font-size: 35px;
        }
    }
textarea{

    height: 500px;
width: 1500px;
font-size: 50px;
text-transform: uppercase;

}

@media (min-width: 320px) and (max-width: 480px)
        { textarea
        {
            height:300px;
      width: 500px;
      font-size: 35px;
      text-transform: uppercase;

        }}
#main.2{
    padding-top:100px;

}




input{

    height: 100px;
 width:1000px;
 text-transform: uppercase;

    
    /* margin-top: 50px; */
font-size:50px;
border-radius:30px;
}
@media (min-width: 320px) and (max-width: 480px)
{input
    { height: 40px;
        width:500px;
       
           
           /* margin-top: 50px; */
       font-size:30px;
       border-radius:30px;
       text-transform: uppercase;


    }
}
#last{
    padding-left:1500px;
    /* padding-bottom: 0px; */
    /* display:inline-block; */
    margin-top:700px;
    /* padding-top:200px; */
    text-underline: none;
}
@media (min-width: 320px) and (max-width: 480px)
{#last
    {padding-left: 300px;
        margin-top: 300px;

    }
}
